# Prisma Postgres Database URL
DATABASE_URL=""

# For sending Gmail notifications, you need to create an app password.
GMAIL_APP_PASS=""

# For Code Execution Engine API, you need to get your API key from RapidAPI.
RAPID_API_KEY=

JWT_SECRET=

PORT=

CORS_ORIGIN=