# Prisma Postgres Database URL
DATABASE_URL=""
DIRECT_URL=""

# For sending Gmail notifications, you need to create an app password.
GMAIL_APP_PASS=""

JWT_SECRET=

JUDGE0_URL=
JUDGE0_AUTH_TOKEN=
JUDGE0_CB_BASE=

PORT=

CORS_ORIGIN=

REDIS_HOST=
REDIS_PORT=
